body {
	width: 750px;
}

#todo-list li label {
	width: 506px;
}

#todo-list li span.due {
	position: absolute;
	top: 0;
	right: 50px;
	bottom: 0;
	width: 100px;
	height: 20px;
	margin: auto 0;
	font-size: 22px;
}

#todo-list li span.priority {
	position: absolute;
	text-align: right;
	top: 0;
	right: 150px;
	padding-right: 10px;
	bottom: 0;
	width: 100px;
	height: 20px;
	margin: auto 0;
	font-size: 22px;
}
