body {
	width: 750px;
}

header div.sort {
	padding-top: 2px;
	border-top: 1px dotted #adadad;
}

header span.name {
	padding-left: 60px;
}

header span.priority {
	position: absolute;
	text-align: right;
	right: 170px;
	padding-right: 10px;
	width: 100px;
}

header span.due {
	position: absolute;
	right: 60px;
	width: 110px;
}

#todo-list li label {
	width: 440px;
}

#todo-list li.editing .edit {
	width: 440px;
}

#todo-list li span.due {
	position: absolute;
	top: 0;
	right: 60px;
	bottom: 0;
	width: 110px;
	height: 20px;
	margin: auto 0;
	font-size: 22px;
}

#todo-list li .due-edit{
	display: none;
}

#todo-list li.editing-due .due-edit {
	display: block;
	width: 110px;
	padding: 12px 1px 10px 1px;
	position: absolute;
	top: 0;
	right: 60px;
	bottom: 0;
	height: 20px;
	margin: auto 0;
	font-size: 22px;

}

#todo-list li.editing-due .due {
	display: none;
}

#todo-list li span.priority {
	position: absolute;
	text-align: right;
	top: 0;
	right: 170px;
	padding-right: 10px;
	bottom: 0;
	width: 100px;
	height: 20px;
	margin: auto 0;
	font-size: 22px;
}